<%- include('../partials/header') %>

  <div class="container">
    <% if (alerts && alerts.length > 0) { %>
      <% for (var i = 0; i < alerts.length; i++) { %>
        <div class="alert alert-<%= alerts[i].type %>">
          <%= alerts[i].message %>
        </div>
      <% } %>
    <% } %>
    <h1>Sign Up</h1>
    <form action="/users/signup" method="POST">
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
      </div>
      <div class="space-before-button">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </div>

<%- include('../partials/footer') %>