<%- include('../partials/header') %>

  <div class="container">
    <h1>Notes List</h1>
    <h2>________________________</h2>
    <a href="/todo/new">Add New Reminder</a>
    <ul>
      <% if (todoList.length) { %>
        <% todoList.forEach((reminder, index) => { %>
          <li>
            <h3><a href="/todo/<%= index %>/show"><%= reminder.title %></a></h3>
          </li>
        <% }) %>
      <% } else { %>
        <li>No reminders found...</li>
      <% } %>
    </ul>
  </div>

<%- include('../partials/footer') %>