<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Todo List</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        |
        <li><a href="/tasks">Todo List</a></li>
      </ul>
      <ul class="nav-end-ul">
        <% if (!username) { %>
          <li><button onclick="location.href='/sessions/login'">Log In</button></li>
          <li><button onclick="location.href='/users/signup'">Sign Up</button></li>
        <% } else { %>
          <li><div>Welcome, <%= username %>!</div></li>
          <li><button onclick="location.href='/sessions/logout'">Log Out</button></li>
        <% } %>
      </ul>
    </nav>