<%- include('../partials/header') %>

  <div class="container">
    <h1>Login</h1>
    <form method="POST" action="/sessions/login">
      <div>
        <label for="username">UserName:</label>
        <input type="username" id="username" name="username" required>
      </div>
      <div class="space-before-button">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>

<%- include('../partials/footer') %>
