<div class="container mt-5">
  <div class="card border-light mx-auto">
    <div class="card-header bg-secondary text-white">
      <h1 class="card-title text-center">Favorite Products</h1>
    </div>
    <div class="card-body">
      <ol class="list-group list-group-flush">
        <% @favorited_products.each_with_index do |product, index| %>
          <li class="list-group-item"><%= index + 1 %>. <%= link_to product.title, product_path(product), class: 'no-underline' %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>