<%- include("./partials/header.ejs")  %>
    <h1>Welcome to Express and EJS</h1>
    <img 
    src="https://thumbs.dreamstime.com/b/cat-tie-computer-keyboard-cat-tie-presses-keys-computer-keyboard-white-background-125688764.jpg" 
    alt="Cat with computer">
    <%- include("./partials/footer.ejs")  %>