<%- include("./partials/header.ejs")  %>
    <h1>Welcome to Express and EJS</h1>
    <img 
    src="/images/catOnComputer.jpg" 
    alt="Cat with computer">
    <%- include("./partials/footer.ejs")  %>